page-login {
	.text-middle {
		position: absolute;
		top: 50%;
		left: 50%;
		height: 300px;
		width: 200px;
		margin-top: -150px;
		margin-left: -100px;
	}
	.lock {
		font-size: 48pt;
	}
	.muted {
		color: color($colors, 'light');
	}
	.item-inner {
		border-bottom-color: transparent !important;
		box-shadow: none !important;
	}
	.error {
		color: color($colors, 'danger');
	}
}
