<ion-header>
  <ion-navbar>
    <ion-buttons left>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    </ion-buttons>
    <ion-buttons end>
    <button ion-button icon-only (click)="goHome()">
      <ion-icon name="home"></ion-icon>
    </button>
    </ion-buttons>
    <ion-title>
      Contacts
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <h1>Emergencies</h1>
    </ion-list-header>
    <ion-item *ngFor="let contact of contacts.emergency">
      <h2 text-wrap>{{ contact.name }}</h2>
      <ion-icon name="call"></ion-icon> <a href="tel:{{ contact.number }}">{{ contact.number }}</a>
      <p *ngIf="contact.description" text-wrap>{{ contact.description }}</p>
    </ion-item>
    <ion-list-header>
      <h1>Tourcie</h1>
    </ion-list-header>
    <ion-item *ngFor="let contact of contacts.tourcie">
      <h2 text-wrap>{{ contact.name }}</h2>
      <ion-icon name="call"></ion-icon> <a href="tel:{{ contact.number }}">{{ contact.number }}</a>
    </ion-item>
    <ion-list-header>
      <h1>Members</h1>
    </ion-list-header>
    <ion-item>
      <ion-label>Sort on:</ion-label>
      <ion-select [(ngModel)]="sort" (ionChange)="sortMembers()">
        <ion-option value="name">Last name</ion-option>
        <ion-option value="initials">Initials</ion-option>
        <ion-option value="instrument">Instrument</ion-option>
        <ion-option value="second">Second instrument</ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngFor="let contact of contacts.members">
      <h3 float-left>{{ contact.initials }} {{ contact.name }}</h3>
      <p float-right>{{ contact.instrument }}<span *ngIf="contact.second.length > 0">, {{ contact.second }}</span></p>
    </ion-item>
  </ion-list>
</ion-content>