<ion-header>
  <ion-navbar>
    <ion-buttons left>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    </ion-buttons>
    <ion-buttons end>
    <button ion-button icon-only (click)="goHome()">
      <ion-icon name="home"></ion-icon>
    </button>
    </ion-buttons>
    <ion-title>
      Packing list
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <div *ngFor="let item of packingList; let i = index">
    <ion-item [ngClass]="{ 'checked': checklist[i] }">
      <ion-checkbox type="checkbox" [(ngModel)] = "checklist[i]" (click)="saveChecklist()"></ion-checkbox>
      <ion-label>{{ item.name }}</ion-label>
    </ion-item>
    <ion-item *ngIf="item.description">
      <p text-wrap>{{ item.description }}</p>
    </ion-item>
    </div>
  </ion-list>
</ion-content>