<ion-header>
  <ion-navbar>
    <ion-buttons left>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    </ion-buttons>
    <ion-buttons end>
    <button ion-button icon-only (click)="goHome()">
      <ion-icon name="home"></ion-icon>
    </button>
    </ion-buttons>
    <ion-title>
      Cities
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
<img *ngIf="city === 'bratislava'" src="assets/imgs/bratislava.jpg" alt="bratislava">
<img *ngIf="city === 'brno'" src="assets/imgs/brno.jpg" alt="brno">
<img *ngIf="city === 'vienna'" src="assets/imgs/vienna.jpg" alt="vienna">
<div padding class="city-name-box">
  <h1 class="city-name">{{ info.name }}</h1>
</div>
<ion-card>
  <ion-card-header><ion-icon float-right name="information-circle"></ion-icon> General Info</ion-card-header>
  <ion-card-content>
    <p>{{ info.general }}</p>
  </ion-card-content>
</ion-card>
<ion-card *ngIf="info.teddyTips && info.teddyTips.length > 0">
  <ion-card-header><ion-icon float-right name="paw"></ion-icon> Teddy's Tips</ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item *ngFor="let tip of info.teddyTips">
        <h2>{{ tip.title }}</h2>
        <p>{{ tip.text }}</p>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
<ion-card *ngIf="info.hostel">
  <ion-card-header><ion-icon float-right name="fn-hostel"></ion-icon> Hostel</ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item>
        <h2>{{ info.hostel.name }}</h2>
      </ion-item>
      <ion-item text-wrap>
        <ion-icon name="map"></ion-icon> {{ info.hostel.location }}
      </ion-item>
      <ion-item>
        <ion-icon name="call"></ion-icon> {{ info.hostel.tel }}
      </ion-item>
      <ion-item>
        <p class="muted-small">{{ info.hostel.description }}</p>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
<ion-card *ngIf="info.concerts && info.concerts.length > 0">
<ion-card-header><ion-icon float-right name="musical-notes"></ion-icon> Concerts</ion-card-header>
<ion-card-content>
  <ion-list>
    <ion-item *ngFor="let concert of info.concerts">
      <h2>{{ concert.name }}</h2>
      <ion-icon name="time"></ion-icon> {{ concert.timestamp | date: "EE dd-MM, HH:mm" }}
    </ion-item>
  </ion-list>
</ion-card-content>
</ion-card>
<ion-card *ngIf="info.borrel">
  <ion-card-header><ion-icon float-right name="beer"></ion-icon>{{ info.borrel.title }}</ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item>
        <p class="muted-small">{{ info.borrel.description }}</p>
      </ion-item>
      <ion-item text-wrap>
        <ion-icon name="map"></ion-icon> {{ info.borrel.location }}
      </ion-item>
      <ion-item>
        <ion-icon name="compass"></ion-icon> <a (click)="mapsLocation(info.hostel.location)">Route to bed</a>
      </ion-item>
      <ion-item>
        <h2><ion-icon name="train"></ion-icon> Transit tips</h2>
        <p>{{ info.borrel.publicTransit }}</p>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
</ion-content>