<ion-header>
  <ion-navbar>
    <ion-buttons left>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <ion-item padding text-center no-lines *ngIf="isLoading"><ion-spinner></ion-spinner></ion-item>
  <ion-card *ngIf="errMessage.length > 0">
    <ion-card-content class="muted-small">
    Whoops! Something went wrong loading the news feed:
    <p>{{ errMessage }}</p>
    Try refreshing.
  </ion-card-content>
  </ion-card>
  <ion-list *ngIf="notificationList.length > 0">
    <div *ngFor="let note of notificationList; let i = index">
    <ion-item text-wrap *ngIf="i < 3 || showAllNotifications" (click)="openNotification(i)">
      <ion-icon item-left name="alert"></ion-icon>
      <h3 text-wrap>{{ note.text }}</h3>
      <p class="muted-small" *ngIf="note.longText" [ngClass]="{'wrap-text': !note.open}">{{ note.longText }}</p>
    </ion-item>
    </div>
    <div *ngIf="notificationList.length > 3">
      <button ion-button full outline *ngIf="!showAllNotifications" (click)="showAllNotifications = true">Show {{ notificationList.length - 3 }} more</button>
      <button ion-button full outline *ngIf="showAllNotifications" (click)="showAllNotifications = false">Hide</button>
    </div>
  </ion-list>
  <div padding text-center *ngIf="notificationList.length == 0" class="muted-small">
    The news feed is empty: there is no news!
  </div>
  <div padding><h2>Schedule</h2></div>
    <ion-card *ngIf="showAllScheduleButton">
      <ion-card-content>
        <button ion-button block outline class="event-toggle-shown" *ngIf="!showAllSchedule" (click)="showAllSchedule = true">Show past days</button>
        <button ion-button block outline class="event-toggle-shown" *ngIf="showAllSchedule" (click)="showAllSchedule = false">Hide past days</button>
      </ion-card-content>
    </ion-card>
    <div *ngFor="let day of schedule">
      <div *ngIf="showAllSchedule || !day.hide">
      <ion-card no-padding>
        <ion-card-header [ngClass]="{'event-past': day.hide}">{{ day.timestamp | date:"EE dd-MM" }}</ion-card-header>
        <ion-card-content>
          <ion-list>
    <div *ngFor="let event of day.events">
      <ion-list-header no-lines>
        <button ion-item detail-none (click)="openEvent(event.id)" [ngClass]="{
        'event-highlight': event.highlight,
        'event-open': event.open,
        'event-past': event.past
      }">
          <ion-icon item-left name="arrow-forward" *ngIf="!event.open"></ion-icon>
          <ion-icon item-left name="arrow-down" *ngIf="event.open"></ion-icon>
          <ion-grid no-padding>
            <ion-row no-padding>
              <ion-col col-4 col-sm-3 style="display: inline-block;">{{ event.timestamp | date:"HH:mm" }}</ion-col>
              <ion-col col-8 col-sm-9 style="display: inline-block;" class="wrap-text">{{ event.name }}</ion-col>
            </ion-row>
          </ion-grid>
        </button>
      </ion-list-header>

      <ion-item *ngIf="event.open">
        <ion-grid>
          <ion-row>
            <ion-col text-wrap style="font-weight: 900;">{{ event.name }}</ion-col>
          </ion-row>
          <ion-row no-padding style="font-weight: 500;">
            <ion-col text-left><ion-icon name="time"></ion-icon> {{ event.time }} <span *ngIf="event.timeEnd"> - {{ event.timeEnd }}</span></ion-col>
            <ion-col text-right *ngIf="event.group"><ion-icon name="people"></ion-icon> {{ event.group }}</ion-col>
          </ion-row>
          <ion-row no-padding *ngIf="event.location" style="font-weight: 500;" text-wrap>
            <ion-col><ion-icon name="map"></ion-icon> {{ event.location }}</ion-col>
          </ion-row>
          <ion-row no-padding *ngIf="event.description">
            <ion-col><p text-wrap>{{ event.description }}</p></ion-col>
          </ion-row>
        </ion-grid>
        
      </ion-item>
    </div>
    </ion-list>
      </ion-card-content>
    </ion-card>
    </div>
    </div>
</ion-content>
