page-home {
  .event-highlight {
  	background-color: color($colors, 'primary');
  	color: white;
  	font-weight: 900;
  	font-size: $font-size-large;
  }
  .event-open {
  	background-color: color($colors, 'dark');
  	color: white;
  }
  .event-past {
  	color: color($colors, 'light');;
  }
  .event-toggle-show {
    color: color($colors, 'primary');
  }
  .muted-small {
    font-size: $font-size-small;
    color: color($colors, 'light');
  }
  .wrap-text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 95%;
  }
}