<ion-header>
  <ion-navbar>
    <ion-buttons left>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <ion-item padding text-center no-lines *ngIf="isLoading"><ion-spinner></ion-spinner></ion-item>
  <ion-card *ngIf="errMessage.length > 0">
    <ion-card-content class="muted-small">
    Whoops! Something went wrong loading the news feed:
    <p>{{ errMessage }}</p>
  </ion-card-content>
  </ion-card>
  <ion-list *ngIf="notificationList.length > 0">
    <div *ngFor="let note of notificationList; let i = index">
    <ion-item no-lines text-wrap *ngIf="i < 3 || showAllNotifications" (click)="openNotification(i)">
      <ion-icon item-left name="alert"></ion-icon>
      <h3 float-left>{{ note.text }}</h3>
      <p class="muted-small" float-right>{{ note.timestamp }}</p>
      <p class="muted-small" float-left [ngClass]="{'wrap-text': !note.open}">{{ note.longText }}</p>
    </ion-item>
    </div>
    <div *ngIf="notificationList.length > 3">
      <button ion-button full outline (click)="showAllNotifications = !showAllNotifications" *ngIf="!showAllNotifications">
        Show {{ notificationList.length - 3 }} more
      </button>
      <button ion-button full outline (click)="showAllNotifications = !showAllNotifications" *ngIf="showAllNotifications">
        Hide
      </button>
    </div>
  </ion-list>
  <div padding><h2>Schedule</h2></div>
    <div *ngFor="let transition of dateTransitions.slice(0,-1); let t = index">
      <div *ngIf="!eventList[dateTransitions[t+1] - 1].hide">
      <ion-card>
        <ion-card-header>{{ eventList[transition].timestamp | date:"EE dd-MM" }}</ion-card-header>
        <ion-card-content>
          <ion-list>
    <div *ngFor="let item of eventList.slice(transition, dateTransitions[t+1])">
      <div *ngIf = "!item.hide">
      <ion-list-header no-lines>
        <button ion-item (click)="openEvent(item.id)" [ngClass]="{
        'event-highlight': item.highlight,
        'event-open': item.open,
        'event-past': item.past
      }">
          <ion-icon item-left name="arrow-forward" *ngIf="!item.open"></ion-icon>
          <ion-icon item-left name="arrow-down" *ngIf="item.open"></ion-icon>
            <div float-left style="display: inline-block;">{{ item.time }}</div>
            <div float-right style="display: inline-block;">{{ item.name }}</div>
        </button>

        <ion-item *ngIf="item.open">
          <ion-list>
            <ion-item no-padding style="font-weight: 500;">
              <p float-left>{{ item.timestamp | date:"EE dd-MM" }} | {{ item.time }} <span *ngIf="item.timeEnd"> - {{ item.timeEnd }}</span></p>
              <p float-right *ngIf="item.group">{{ item.group }}</p>
            </ion-item>
            <ion-item no-padding style="font-weight: 500;" text-wrap>
              <p>{{ item.location }}</p>
            </ion-item>
            <ion-item no-padding text-wrap *ngIf="item.description">
              <p>{{ item.description }}</p>
            </ion-item>
          </ion-list>
          
        </ion-item>
      </ion-list-header>
      </div>
    </div>
    </ion-list>
      </ion-card-content>
    </ion-card>
    </div>
    </div>
</ion-content>
