<ion-header>
  <ion-navbar>
    <ion-buttons left>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    </ion-buttons>
    <ion-buttons end>
    <button ion-button icon-only (click)="goHome()">
      <ion-icon name="home"></ion-icon>
    </button>
    </ion-buttons>
    <ion-title>
      Challenges
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div text-wrap padding>
    Here are the challenges! Complete them all and find a member of the ChallengeCie to cross them off your shirt!
  </div>
  <div text-wrap padding>
    You can also check off the challenges below to keep track.
  </div>
  <ion-list>
    <ion-list-header>
      <h1>General</h1>
    </ion-list-header>
    <div *ngFor="let challenge of challenges.general">
    <ion-item [ngClass]="{'completed': isChecked(challenge.id)}" 
    (click) = "toggleCheck(challenge.id);">
      <h2>
        <ion-icon *ngIf="!isChecked(challenge.id)" name="trophy"></ion-icon>
        <ion-icon *ngIf="isChecked(challenge.id)" name="checkmark"></ion-icon>
        {{ challenge.name }}
      </h2>
      <p [ngClass]="{ 'white-text': isChecked(challenge.id) }" text-wrap>{{ challenge.description }}</p>
    </ion-item>
    </div>
    <ion-list-header>
      <h1>Bratislava</h1>
    </ion-list-header>
    <div *ngFor="let challenge of challenges.bratislava">
    <ion-item [ngClass]="{'completed': isChecked(challenge.id)}" 
    (click) = "toggleCheck(challenge.id);">
      <h2>
        <ion-icon *ngIf="!isChecked(challenge.id)" name="trophy"></ion-icon>
        <ion-icon *ngIf="isChecked(challenge.id)" name="checkmark"></ion-icon>
        {{ challenge.name }}
      </h2>
      <p [ngClass]="{ 'white-text': isChecked(challenge.id) }" text-wrap>{{ challenge.description }}</p>
    </ion-item>
    </div>
    <ion-list-header>
      <h1>Brno</h1>
    </ion-list-header>
    <div *ngFor="let challenge of challenges.brno">
    <ion-item [ngClass]="{'completed': isChecked(challenge.id)}" 
    (click) = "toggleCheck(challenge.id);">
      <h2>
        <ion-icon *ngIf="!isChecked(challenge.id)" name="trophy"></ion-icon>
        <ion-icon *ngIf="isChecked(challenge.id)" name="checkmark"></ion-icon>
        {{ challenge.name }}
      </h2>
      <p [ngClass]="{ 'white-text': isChecked(challenge.id) }" text-wrap>{{ challenge.description }}</p>
    </ion-item>
    </div>
    <ion-list-header>
      <h1>Vienna</h1>
    </ion-list-header>
    <div *ngFor="let challenge of challenges.vienna">
    <ion-item [ngClass]="{'completed': isChecked(challenge.id)}" 
    (click) = "toggleCheck(challenge.id);">
      <h2>
        <ion-icon *ngIf="!isChecked(challenge.id)" name="trophy"></ion-icon>
        <ion-icon *ngIf="isChecked(challenge.id)" name="checkmark"></ion-icon>
        {{ challenge.name }}
      </h2>
      <p [ngClass]="{ 'white-text': isChecked(challenge.id) }" text-wrap>{{ challenge.description }}</p>
    </ion-item>
    </div>
  </ion-list>
</ion-content>